@use "./abstract/_members" as *

.fv.folders
  display: grid
  grid-template-columns: 100px 100px 100px
  gap: 25px
  margin: 20px 0px

.fv.action
  position: relative
  left: 100px
  top: -15px
  color: blue

.fv.btn
  size: 100%
  width:100%

.corpus-layout-selection
  $self: &

  display: flex

  &__code
    padding-left: space-x(2)
    padding-right: space-x(2)

  &--view-type-code

    #{ $self }__folders
      width: 50%

    #{ $self }__code
      width: 50%
