/* Grid constants */

$topbar-height: 56px; // ~ unworthy empirical value (@TODO topbar height calculation)
$graph-margin: 16px;

$graph-height: calc(100vh - #{ $topbar-height } - #{ $graph-margin * 2 });

$isoline-height: 158px;

$left-column-width: 10%;
$center-column-width: 80%;
$right-column-width: 10%;

/* Topbar constants */

$topbar-input-width: 304px;

/* Sidebar constant */

$sidebar-width: 480px;
$sidebar-height: calc(100vh - #{ $topbar-height });
$tab-margin-x: space-x(2.5);

/* Colors */

$graph-background-color: #FFFFFF;
$graph-layout-line-color: #EBE4DD;
$graph-text-color: #0D1824;
$graph-heading-color: #B5B5B5;

$visible-peak: #0D1824;
$hidden-peak: #A9A9A9;

$mark-default: #4A5C70;
$mark-hover: #F3BE54;
$mark-focus: #F24C3D;
$mark-unfocus: #FFECEC;

$group-unfocus: #A9A9A9;

$isoline-stroke-color: #74B5FF;

$fill-default-color: #61A3A9;
$fill-idle-color: #F5EEE6;

$emergence-color: #012840;
$decreasing-color: #11638F;

/* ---------- axis ---------- */

// @WIP check if all classes are actually being used

.x-axis path {
  stroke: $graph-layout-line-color;
  stroke-width: 1.5px;
}

.y-axis path {
  stroke:$graph-layout-line-color;
  stroke-width: 1.5px;
}

.y-highlight {
  stroke: $mark-hover;
  stroke-width: 1.5px;
}

.x-mark {
  fill: $mark-default;
  stroke-width: 1px;
  stroke: $graph-background-color;
}

.x-mark-over {
  fill: $mark-hover;
}

.x-mark-focus {
  fill: $mark-focus;
}

.tick text {
  font-family: "Inter-Regular";
}

.tick text:hover {
  cursor: pointer;
}

.y-label {
  font-size: 10px;
  font-family: "Inter-Regular";
  font-weight: normal;
}

.y-label-bold {
  font-size: 12px;
  font-family: "Inter-Bold";
  font-weight: bold;
}

.y-mark-year-inner {
  fill: $mark-default;
}

.y-mark-year-inner-highlight {
  fill: $mark-hover;
}

.y-mark-year-outer {
  fill: $graph-background-color;
  stroke: $mark-default;
  stroke-width: 1px;
}

.y-mark-year-outer-highlight {
  fill: $graph-background-color;
  stroke: $mark-hover;
  stroke-width: 3px;
}

.y-mark-month {
  fill: $mark-default;
}

/* ---------- header ---------- */

.header {
  fill: $emergence-color;
  cursor: pointer;
}

.header-wrapper {
  fill: $graph-background-color;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1))
}


/* ---------- group ---------- */

.group-outer {
  stroke-width: 0.8px;
  stroke: $graph-background-color;
  fill: $graph-background-color;
}

.group-inner {
  stroke-width: 0.8px;
  stroke: $graph-text-color;
  fill: $graph-text-color;
  /*cursor: pointer;*/
  z-index: 10;
}

.group-heading {
  fill: $graph-background-color;
  stroke: $graph-heading-color;
}

.group-focus {
  stroke: $mark-focus;
}

.source-focus {
  stroke: $fill-default-color;
}

.group-unfocus {
  stroke: $group-unfocus;
}

.group-path {
  cursor: pointer;
}

/* ---------- labels ---------- */

.ngrams {
  visibility:  hidden;
}

.term {
  cursor: pointer;
}

.term:hover {
  font-weight: bold;
  fill: $mark-focus;
}

// .term-unfocus {
//   fill: #A9A9A9;
// }

// .term-focus {
//   fill: black;
// }

.term-path {
  fill: none;
  stroke: $mark-focus;
  stroke-width: 1.5px;
}

.emerging {
  /*text-decoration: underline #F0684D;*/
  /*fill:#5AA350;*/
  /*fill: #5AA350;*/
  fill: $mark-focus;
}

.decreasing {
  /*text-decoration: underline #74B5FF;*/
  fill: $decreasing-color;
}

.path-focus {
  fill: none;
  stroke: $mark-focus;
  stroke-width: 1.5px;
}

.path-unfocus {
  stroke: $group-unfocus;
}

.path-heading {
  stroke: $graph-heading-color;
}

/* ---------- phylo ---------- */

.branch-hover {
  fill: $mark-hover;
  opacity: 0.5;
}

/* elements */

#file-path {
  display:  none;
}


/* axis */

.axisRight {
  font-family: "Inter-Regular";
  font-size: 10px;
}

/* isoline */

.peak {
  stroke: $graph-background-color;
  stroke-width: 1px;
  font-family: "Inter-Regular";
  font-size: 14px;
  text-anchor: middle;
  visibility: visible;
}

.peak-over {
  font-size: 18px;
  stroke-width: 2px;
  cursor: pointer;
  stroke: $mark-hover;
  z-index: 100;
}

.peak-focus {
  font-size: 18px;
  stroke-width: 2px;
  stroke: $mark-focus;
}

.peak-focus-source {
  font-size: 18px;
  stroke-width: 2px;
  stroke: $isoline-stroke-color;
}


.peak-label {
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: $graph-background-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: $graph-background-color;
  background: $visible-peak;
  padding: 5px;
  z-index: 10;
  position: absolute;
  visibility: hidden;
}

.word-cloud {
  font-family: "Inter-Regular";
  font-size: 12px;
}

////////////////////////////////////////////////////////////////

.phylo {
  position: relative;

  width: 100%;
  height: $graph-height;

  &__spinner {
    $size: 100px;
    $weight: 6px;

    position: absolute;
    font-size: $weight;
    height: $size;
    width: $size;
    // (?) `centered` mixin will not work here, due to Bootstrap process
    //     interfering with the transform rule
    top: calc( 50% - #{ $size / 2 } );
    left: calc( 50% - #{ $size / 2 } );
  }
}


////////////////////////////////////////////////////////////////

.phylo-isoline {
  display: flex;
  position: relative;
  width: 100%;
  height: $isoline-height;
  background-color: $gray-100;
  border-bottom: 1px solid $border-color;
}

////////////////////////////////////////////////////////////////

.phylo-margin {
  height: $graph-margin;
}

.phylo-grid {
  position: relative;
  font-family: "Inter-Regular";

  &__content {
    display: flex;
    height: $graph-height;
    position: relative;
  }

  &__blueprint {
    @include fit-positions();

    display: flex;
    height: $graph-height;
    position: absolute;
    visibility: hidden;

    &__left {
      width: $left-column-width;
      height: inherit;
    }
    &__center {
      width: $center-column-width;
      height: inherit;
    }
    &__right {
      width: $right-column-width;
      height: inherit;
    }
  }

  &__content {

    &__scape {
      width: calc( #{ $left-column-width } + #{ $center-column-width });
    }
    &__graph {
      width: $right-column-width;
    }
  }
}

////////////////////////////////////////////////////////////////

.phylo-topbar {
  $margin: space-x(0.5);
  $fixed-button-width: 136px;

  @include asideTopbar();

  padding-left: $margin;
  padding-right: $margin;
  display: flex;

  &__toolbar,
  &__sidebar {
    width: $fixed-button-width;
    margin-left: $margin;
    margin-right: $margin;
  }

  &__source {
    width: $topbar-input-width;
    margin-left: $margin;
    margin-right: $margin;
  }

  &__autocomplete {
    display: flex;
    width: $topbar-input-width;
    position: relative;
    margin-left: $margin;
    margin-right: $margin;
  }

  &__suggestion {
    // as the input is above the "search" one, and is used only as an
    // autocompletion term, we remove every interaction on it...
    pointer-events: none;
    // ...overriding Bootstrap native rules to just display its text node to
    // the user
    &.form-control {
      border-color: transparent;
    }
  }

  &__search {
    z-index: 1;
    position: absolute;
    // (see above comment about "suggestion")
    &.form-control {
      background-color: transparent;
    }
  }

  &__submit {
    display: none;
  }
}

////////////////////////////////////////////////////////////////

.phylo-sidebar {
  position: fixed;
  background-color: $body-bg;
  width: $sidebar-width;
  height: $sidebar-height;
  z-index: z-index("phylo-layout", "sidebar");

  // avoiding ugly scrollbar
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: visible;

  &::-webkit-scrollbar {
    display: none;
  }

  @include right-handed {
    right: 0;
    border-left: 1px solid $border-color;
  }

  @include left-handed {
    left: 0;
    border-right: 1px solid $border-color;
  }

  &__menu .nav-item {
    margin-top: space-x(2);

    &:first-child {
      margin-left: space-x(2);
    }

    &:last-child {
      margin-right: space-x(2);
    }
  }
}

.phylo-details-tab {

  &__counter {
    margin: space-x(2) $tab-margin-x;

    &__item {
      margin-left: space-x(2);
      list-style: initial;
    }

    &__value {
      font-weight: bold;
    }
  }

  &__delimiter {
    margin: space-x(2) $tab-margin-x;
  }

  &__link {
    margin: space-x(2) $tab-margin-x;
  }
}

.phylo-selection-tab {

  &__highlight {
    margin: space-x(2) $tab-margin-x;

    &__label {
      color: $orange;
      font-weight: bold;
    }
  }
}

////////////////////////////////////////////////////////////////

.phylo-toolbar {
  $section-margin: space-x(2.5);
  $button-margin: space-x(2);

  display: flex;
  border-bottom: 1px solid $border-color;
  padding: $section-margin;
  background-color: $body-bg;

  &__gap {
    width: $button-margin;
    display: inline-block;
  }

  @include right-handed {
    flex-direction: row;

    &__section {
      margin-right: $section-margin;
    }
  }

  @include left-handed {
    flex-direction: row-reverse;

    &__section {
      margin-left: $section-margin;
    }
  }
}
